# https://pip.pypa.io/en/stable/user_guide/#requirements-files
# use it to install dependencies with
# `pip install -r requirements.txt`
pip
matplotlib
numpy
scipy
MotionClouds
imageio
opencv-python
imageio-ffmpeg
pygifsicle
lambda2color
tqdm
jupyter
ipywidgets
nbconvert
moviepy