# https://pip.pypa.io/en/stable/user_guide/#requirements-files
# use it to install dependencies with
# `pip install -r requirements.txt`
pip
matplotlib
numpy
scipy
joblib
# MotionClouds - it is imported as a file
imageio[pyav]
opencv-python
# imageio-ffmpeg
pygifsicle
lambda2color
tqdm
# tqdm_joblib
jupyter
ipywidgets
nbconvert
moviepy
ipynbname